<div class="content">
    <h2>¿Que es la carrera de PGA?</h2>
    <p>La carrera de Técnico en Procesos de Gestión Administrativa ofrece las competencias profesionales que permiten al
        estudiante adquirir los conocimientos, habilidades y actitudes necesarias para desarrollarse en el campo laboral
        como auxiliar en los procesos administrativos o de su propio negocio.
    <br>
    <br>
        Así mismo, podrá desarrollar competencias genéricas relacionadas principalmente con la participación en los
        procesos de comunicación en distintos contextos, la integración efectiva a los equipos de trabajo y la
        intervención consciente, en su comunidad en particular, en el país y en el mundo en general, todo con apego al
        cuidado del medio ambiente y una amplia responsabilidad social.</p>
    <div class="image-container">
        <img src="img/i1.jpg" alt="Image 1">
        <img src="img/i2.jpg" alt="Image 2">
        <img src="img/i3.jpg" alt="Image 3">
    </div>
</div>