<footer class="footer">
    <div class="footer-content">
        <div class="footer-section about">
            <h3>Acerca de Nosotros</h3>
            <p>El Plantel 20 Uruapan del Colegio de Estudios Científicos y Tecnológicos del Estado de Michoacán
                (CECyTEM) es una institución educativa comprometida con la formación integral de nuestros estudiantes y
                el desarrollo de habilidades técnicas y científicas.</p>
        </div>
        <div class="footer-section social">
            <h3>Redes Sociales</h3>
            <div class="social-icons">
                <a href="https://www.facebook.com/cecyteuruapan20" class="social-icon"><img src="img/facebook.png"
                        alt="Facebook"></a>
                <a href="https://twitter.com/CECyTEM" class="social-icon"><img src="img/gorjeo.png" alt="Twitter"></a>
                <a href="https://www.tiktok.com/@cecytemichoacan" class="social-icon"><img src="/img/tik.png"
                        alt="Tik Tok"></a>
            </div>
        </div>
        <div class="footer-section contact">
            <h3>Contacto</h3>
            <span>Email: cecyte20uruapan@cecytem.edu.mx</span><br>
            <span>Teléfono: +353 108 14 21</span>
        </div>
    </div>
    <div class="footer-bottom">
        &copy; Cecytem Plantel 20 Uruapan Todos los derechos reservados.
    </div>
</footer>