
    <header class="header">
        <div class="logo">
            <a href="../index.html">
                <img src="/img/logo1.png" alt="Logo">
            </a>
        </div>
        <nav>
           <ul class="nav-links">
                <li><a href="/paginas ex/collage.html">Actividades</a></li>
                <li><a href="/paginas ex/doce.html">Docentes</a></li>
            <li><a href="/paginas ex/alumnos.html">Alumnos</a></li>
                <li><a href="/paginas ex/info.html">Info</a></li>
           </ul>            
        </nav>
    </header>